DT_HP_Test_Bench.json
[
    {
        "id": "b4ac2e01b5986285",
        "type": "tab",
        "label": "HP Test Bench Digital Twins",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b7a0feac79e7f0b6",
        "type": "group",
        "z": "b4ac2e01b5986285",
        "style": {
            "stroke": "#b2b3bd",
            "stroke-opacity": "1",
            "fill": "#f2f3fb",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#32333b"
        },
        "nodes": [
            "865f64a00c0a6785"
        ],
        "x": 1834,
        "y": 1179,
        "w": 312,
        "h": 82
    },
    {
        "id": "7583e792b2a464e6",
        "type": "comment",
        "z": "b4ac2e01b5986285",
        "name": "Asservissement PID",
        "info": "",
        "x": 110,
        "y": 140,
        "wires": []
    },
    {
        "id": "4705bc307a221cfe",
        "type": "comment",
        "z": "b4ac2e01b5986285",
        "name": "Dashboard Output from PID",
        "info": "",
        "x": 1120,
        "y": 100,
        "wires": []
    },
    {
        "id": "0961103bc02f651e",
        "type": "dt-relation",
        "z": "b4ac2e01b5986285",
        "name": "used_to_control",
        "direction": "-->",
        "x": 1160,
        "y": 280,
        "wires": [
            [
                "dc2e08d30a621dae"
            ]
        ]
    },
    {
        "id": "cd62da93be0042cd",
        "type": "dt-graph",
        "z": "b4ac2e01b5986285",
        "name": "",
        "projectName": "project1",
        "projectId": "uuid1",
        "version": "1.0.0+1",
        "x": 80,
        "y": 40,
        "wires": [
            [
                "c66af8a8144b9467"
            ]
        ]
    },
    {
        "id": "710b3122befd09ad",
        "type": "dt-relation",
        "z": "b4ac2e01b5986285",
        "name": "Send_hot_water_to",
        "direction": "-->",
        "x": 1050,
        "y": 580,
        "wires": [
            [
                "dc2e08d30a621dae"
            ]
        ]
    },
    {
        "id": "dc2e08d30a621dae",
        "type": "dt-asset",
        "z": "b4ac2e01b5986285",
        "name": "3_way_vann",
        "dtType": "Material",
        "aContext": "",
        "aId": "",
        "x": 1350,
        "y": 440,
        "wires": [
            [
                "417372d4ce9dfe94",
                "10a014f0c2ae80eb"
            ]
        ]
    },
    {
        "id": "33676b9fdb5bb072",
        "type": "dt-asset",
        "z": "b4ac2e01b5986285",
        "name": "Aerotherme",
        "dtType": "Material",
        "aContext": "",
        "aId": "",
        "x": 1830,
        "y": 260,
        "wires": [
            [
                "72470fad3692deb9"
            ]
        ]
    },
    {
        "id": "417372d4ce9dfe94",
        "type": "dt-relation",
        "z": "b4ac2e01b5986285",
        "name": "Feed_Hot_Water_to",
        "direction": "-->",
        "x": 1570,
        "y": 260,
        "wires": [
            [
                "33676b9fdb5bb072"
            ]
        ]
    },
    {
        "id": "10a014f0c2ae80eb",
        "type": "dt-relation",
        "z": "b4ac2e01b5986285",
        "name": "relay_hot_water_to",
        "direction": "-->",
        "x": 1570,
        "y": 440,
        "wires": [
            [
                "33b727d38ce749c4"
            ]
        ]
    },
    {
        "id": "33b727d38ce749c4",
        "type": "dt-asset",
        "z": "b4ac2e01b5986285",
        "name": "Heat_Exchanger",
        "dtType": "Material",
        "aContext": "",
        "aId": "",
        "x": 2290,
        "y": 440,
        "wires": [
            [
                "f1fdddc3df156136"
            ]
        ]
    },
    {
        "id": "993635d3e5799c9b",
        "type": "dt-relation",
        "z": "b4ac2e01b5986285",
        "name": "reinject_hot_water_to",
        "direction": "-->",
        "x": 2200,
        "y": 300,
        "wires": [
            [
                "33b727d38ce749c4"
            ]
        ]
    },
    {
        "id": "fd5c04bc96e4f5f7",
        "type": "dt-asset",
        "z": "b4ac2e01b5986285",
        "name": "Heat Pump",
        "dtType": "Material",
        "aContext": "",
        "aId": "",
        "x": 410,
        "y": 680,
        "wires": [
            [
                "45a15a876aea94fd"
            ]
        ]
    },
    {
        "id": "4080ece3f4244669",
        "type": "dt-asset",
        "z": "b4ac2e01b5986285",
        "name": "Hot Water Tank",
        "dtType": "Material",
        "aContext": "",
        "aId": "",
        "x": 2920,
        "y": 800,
        "wires": [
            [
                "58dd40e53e0cee2c"
            ]
        ]
    },
    {
        "id": "833a36fcab3b6dff",
        "type": "dt-relation",
        "z": "b4ac2e01b5986285",
        "name": "Store_Hot_Water_to",
        "direction": "-->",
        "x": 2810,
        "y": 540,
        "wires": [
            [
                "5c952d8e4f0b7ae8"
            ]
        ]
    },
    {
        "id": "58dd40e53e0cee2c",
        "type": "dt-relation",
        "z": "b4ac2e01b5986285",
        "name": "ReinjectHotWater_to",
        "direction": "<--",
        "x": 1590,
        "y": 920,
        "wires": [
            [
                "9acd512d1f9ea617"
            ]
        ]
    },
    {
        "id": "726a9fd1b03dd201",
        "type": "ui-gauge",
        "z": "b4ac2e01b5986285",
        "name": "Temp In chaud HP",
        "group": "a25d42467177cc20",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "rounded",
        "title": "Hot Water Incoming to HP",
        "units": "Degree Celcius",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#00bfff"
            },
            {
                "from": "50",
                "color": "#00ffff"
            },
            {
                "from": "100",
                "color": "#00008b"
            }
        ],
        "min": 0,
        "max": "150",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 690,
        "y": 900,
        "wires": []
    },
    {
        "id": "5cfe19817c323ff0",
        "type": "ui-gauge",
        "z": "b4ac2e01b5986285",
        "name": "Temp Out chaud HP",
        "group": "a25d42467177cc20",
        "order": 2,
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "rounded",
        "title": "Hot Water Outcoming from HP",
        "units": "Degree Celcius",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#00bfff"
            },
            {
                "from": "50",
                "color": "#00ffff"
            },
            {
                "from": "100",
                "color": "#00008b"
            }
        ],
        "min": 0,
        "max": "150",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 640,
        "y": 560,
        "wires": []
    },
    {
        "id": "b0a5959f0fd02dda",
        "type": "ui-gauge",
        "z": "b4ac2e01b5986285",
        "name": "Temp Out Aerotherme",
        "group": "a0e215310cdd5675",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "rounded",
        "title": "Hot Water Coming out Aerotherme",
        "units": "Degree Celcius",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#00bfff"
            },
            {
                "from": "50",
                "color": "#00ffff"
            },
            {
                "from": "100",
                "color": "#00008b"
            }
        ],
        "min": 0,
        "max": "150",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 2100,
        "y": 120,
        "wires": []
    },
    {
        "id": "8ffebf4520ebc478",
        "type": "ui-gauge",
        "z": "b4ac2e01b5986285",
        "name": "Temp Out Heat Exchanger",
        "group": "8ca5738ff35c72b1",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "rounded",
        "title": "Water Outcoming Heat Exchanger",
        "units": "Degree Celcius",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#00bfff"
            },
            {
                "from": "50",
                "color": "#00ffff"
            },
            {
                "from": "100",
                "color": "#00008b"
            }
        ],
        "min": 0,
        "max": "150",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 2620,
        "y": 400,
        "wires": []
    },
    {
        "id": "3aec24ada2c83a4e",
        "type": "ui-gauge",
        "z": "b4ac2e01b5986285",
        "name": "Flowmeter Hot Water",
        "group": "ee115ad3bbbb60e4",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gauge-half",
        "gstyle": "needle",
        "title": "Flowmeter Hot Water",
        "units": "L / min",
        "icon": "",
        "prefix": "",
        "suffix": "",
        "segments": [
            {
                "from": "0",
                "color": "#99c1f1"
            },
            {
                "from": "25",
                "color": "#33d17a"
            },
            {
                "from": "50",
                "color": "#f6d32d"
            },
            {
                "from": "75",
                "color": "#ff7800"
            },
            {
                "from": "100",
                "color": "#ed333b"
            }
        ],
        "min": 0,
        "max": "100",
        "sizeThickness": 16,
        "sizeGap": 4,
        "sizeKeyThickness": 8,
        "styleRounded": true,
        "styleGlow": false,
        "className": "",
        "x": 3180,
        "y": 600,
        "wires": []
    },
    {
        "id": "f33f49bb25e90786",
        "type": "comment",
        "z": "b4ac2e01b5986285",
        "name": "[part 1] Commande de controle pour le chaud setpoint ",
        "info": "",
        "x": 2680,
        "y": 200,
        "wires": []
    },
    {
        "id": "2d664f2d28698e4f",
        "type": "ui-form",
        "z": "b4ac2e01b5986285",
        "name": "Aerotherme PID Set Point",
        "group": "7a06389195274203",
        "label": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Set Point Values (Lower than 35°C)",
                "key": "set_point_aerotherme",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "set_point_aerotherme": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "resetOnSubmit": true,
        "topic": "payload",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "passthru": false,
        "dropdownOptions": [],
        "x": 2810,
        "y": 320,
        "wires": [
            [
                "7f1df44451e1c52b"
            ]
        ]
    },
    {
        "id": "7f1df44451e1c52b",
        "type": "switch",
        "z": "b4ac2e01b5986285",
        "name": "",
        "property": "payload.set_point_aerotherme",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "35",
                "vt": "str"
            },
            {
                "t": "gt",
                "v": "valeur au dessus du seuil accepte",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 3040,
        "y": 320,
        "wires": [
            [
                "d2448502495726a0"
            ],
            [
                "affc91e93bac00f2"
            ]
        ]
    },
    {
        "id": "8e162e5ae2fd2d98",
        "type": "ui-chart",
        "z": "b4ac2e01b5986285",
        "group": "2bf1924fdb511b62",
        "name": "Output value of PID",
        "label": "Line Chart of the DC voltage produced by the the PID controller's Digital Twin",
        "order": 1,
        "chartType": "line",
        "category": "topic",
        "categoryType": "msg",
        "xAxisLabel": "Time",
        "xAxisProperty": "",
        "xAxisPropertyType": "timestamp",
        "xAxisType": "time",
        "xAxisFormat": "",
        "xAxisFormatType": "auto",
        "xmin": "",
        "xmax": "",
        "yAxisLabel": "Voltage for Propotional Actuator (in V)",
        "yAxisProperty": "payload",
        "yAxisPropertyType": "msg",
        "ymin": "",
        "ymax": "",
        "bins": 10,
        "action": "append",
        "stackSeries": false,
        "pointShape": "circle",
        "pointRadius": 4,
        "showLegend": false,
        "removeOlder": 1,
        "removeOlderUnit": "3600",
        "removeOlderPoints": "",
        "colors": [
            "#0095ff",
            "#ff0000",
            "#ff7f0e",
            "#2ca02c",
            "#a347e1",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "textColor": [
            "#666666"
        ],
        "textColorDefault": true,
        "gridColor": [
            "#e5e5e5"
        ],
        "gridColorDefault": true,
        "width": 6,
        "height": 8,
        "className": "",
        "interpolation": "linear",
        "x": 1190,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "407e81d816c7e64d",
        "type": "link in",
        "z": "b4ac2e01b5986285",
        "name": "get HE",
        "links": [
            "7231eefaf588e559"
        ],
        "x": 2455,
        "y": 400,
        "wires": [
            [
                "8ffebf4520ebc478"
            ]
        ]
    },
    {
        "id": "155199b3cad2553b",
        "type": "link in",
        "z": "b4ac2e01b5986285",
        "name": "get temp aerotherme",
        "links": [
            "bd2beccfc2a5f6a6"
        ],
        "x": 1945,
        "y": 120,
        "wires": [
            [
                "b0a5959f0fd02dda"
            ]
        ]
    },
    {
        "id": "eb125923b23b0a49",
        "type": "link in",
        "z": "b4ac2e01b5986285",
        "name": "get hot flowrate",
        "links": [
            "2e7e4b02c8fd4b11"
        ],
        "x": 2955,
        "y": 600,
        "wires": [
            [
                "3aec24ada2c83a4e"
            ]
        ]
    },
    {
        "id": "4c87f016d9064a01",
        "type": "link in",
        "z": "b4ac2e01b5986285",
        "name": "get_hot_temp_in",
        "links": [
            "e183bb69acca9d96"
        ],
        "x": 545,
        "y": 900,
        "wires": [
            [
                "726a9fd1b03dd201"
            ]
        ]
    },
    {
        "id": "268b7a01dde51607",
        "type": "link in",
        "z": "b4ac2e01b5986285",
        "name": "get_hot_temp_out",
        "links": [
            "098057245bed8761"
        ],
        "x": 495,
        "y": 560,
        "wires": [
            [
                "5cfe19817c323ff0"
            ]
        ]
    },
    {
        "id": "45a15a876aea94fd",
        "type": "dt-property",
        "z": "b4ac2e01b5986285",
        "name": "temp_outcoming_HP",
        "accessGroup": "",
        "aContext": "Heat Pump Asset",
        "aId": "",
        "aType": "",
        "x": 640,
        "y": 620,
        "wires": [
            [
                "710b3122befd09ad"
            ]
        ]
    },
    {
        "id": "72470fad3692deb9",
        "type": "dt-property",
        "z": "b4ac2e01b5986285",
        "name": "Temp_outcoming_Aerotherme",
        "accessGroup": "",
        "aContext": "Aerotherme asset",
        "aId": "",
        "aType": "",
        "x": 2070,
        "y": 200,
        "wires": [
            [
                "993635d3e5799c9b"
            ]
        ]
    },
    {
        "id": "f1fdddc3df156136",
        "type": "dt-property",
        "z": "b4ac2e01b5986285",
        "name": "Temp_Outcoming_HE",
        "accessGroup": "",
        "aContext": "Heat Exchanger Asset",
        "aId": "",
        "aType": "",
        "x": 2540,
        "y": 480,
        "wires": [
            [
                "833a36fcab3b6dff"
            ]
        ]
    },
    {
        "id": "5c952d8e4f0b7ae8",
        "type": "dt-property",
        "z": "b4ac2e01b5986285",
        "name": "Hot_Water_Flowrate",
        "accessGroup": "",
        "aContext": "Hot Water  Incoming to Tank",
        "aId": "",
        "aType": "",
        "x": 3020,
        "y": 660,
        "wires": [
            [
                "4080ece3f4244669"
            ]
        ]
    },
    {
        "id": "9acd512d1f9ea617",
        "type": "dt-property",
        "z": "b4ac2e01b5986285",
        "name": "Temp_Incoming_HP",
        "accessGroup": "",
        "aContext": "Heat Pump (HP) Asset",
        "aId": "",
        "aType": "",
        "x": 640,
        "y": 820,
        "wires": [
            [
                "fd5c04bc96e4f5f7"
            ]
        ]
    },
    {
        "id": "c66af8a8144b9467",
        "type": "debug",
        "z": "b4ac2e01b5986285",
        "name": "data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 290,
        "y": 80,
        "wires": []
    },
    {
        "id": "6f43cc11a727dfbc",
        "type": "ui-notification",
        "z": "b4ac2e01b5986285",
        "ui": "2eba3989bac8e2c1",
        "position": "bottom center",
        "colorDefault": false,
        "color": "#f9f06b",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "Twinning State",
        "x": 1300,
        "y": 1120,
        "wires": [
            []
        ]
    },
    {
        "id": "f532ddca968b1b03",
        "type": "change",
        "z": "b4ac2e01b5986285",
        "name": "warning_msg1",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Warning : Quadrature Phase Twinning ",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Aerotherme Temperature in DT IS DIFFERENT TO the ICS",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1080,
        "y": 1120,
        "wires": [
            [
                "6f43cc11a727dfbc"
            ]
        ]
    },
    {
        "id": "5f5817487513224f",
        "type": "link in",
        "z": "b4ac2e01b5986285",
        "name": "get_acquis_aerotherme_values",
        "links": [
            "9c653464a873d9f1"
        ],
        "x": 65,
        "y": 1060,
        "wires": [
            [
                "a43a3b632f3107a6"
            ]
        ]
    },
    {
        "id": "27a5f5b3f1899402",
        "type": "link in",
        "z": "b4ac2e01b5986285",
        "name": "get_ctrl_aerotherme_values",
        "links": [
            "1c080549d24b1d58"
        ],
        "x": 65,
        "y": 1180,
        "wires": [
            [
                "060e637795f78154"
            ]
        ]
    },
    {
        "id": "a43a3b632f3107a6",
        "type": "change",
        "z": "b4ac2e01b5986285",
        "name": "val_aerotherme_aquisition",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "val_aerotherme_aquisition",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 1060,
        "wires": [
            [
                "670973ba86207613"
            ]
        ]
    },
    {
        "id": "060e637795f78154",
        "type": "change",
        "z": "b4ac2e01b5986285",
        "name": "val_aerotherme_control",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload",
                "tot": "msg",
                "dc": true
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "val_aerotherme_control",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 1180,
        "wires": [
            [
                "670973ba86207613"
            ]
        ]
    },
    {
        "id": "670973ba86207613",
        "type": "Comparator",
        "z": "b4ac2e01b5986285",
        "name": "Comparator",
        "property": "payload",
        "math": "===",
        "topic1": "val_aerotherme_aquisition",
        "topic2": "val_aerotherme_control",
        "x": 570,
        "y": 1120,
        "wires": [
            [
                "32b0891689742779"
            ]
        ]
    },
    {
        "id": "3f08b9993a095d80",
        "type": "ui-notification",
        "z": "b4ac2e01b5986285",
        "ui": "2eba3989bac8e2c1",
        "position": "top right",
        "colorDefault": false,
        "color": "#00bfff",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "Confirm ctrl",
        "x": 4650,
        "y": 320,
        "wires": [
            [
                "a6b26e00cb4407a3"
            ]
        ]
    },
    {
        "id": "f071993300845c12",
        "type": "change",
        "z": "b4ac2e01b5986285",
        "name": "confirm_msg",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Aerotherme Set Point",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "COMMAND SENT TO AEROTHERME",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4470,
        "y": 320,
        "wires": [
            [
                "3f08b9993a095d80"
            ]
        ]
    },
    {
        "id": "32b0891689742779",
        "type": "switch",
        "z": "b4ac2e01b5986285",
        "name": "predicate",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 840,
        "y": 1120,
        "wires": [
            [
                "f532ddca968b1b03"
            ]
        ]
    },
    {
        "id": "9e416d5219914c27",
        "type": "OPCUA-IIoT-Write",
        "z": "b4ac2e01b5986285",
        "connector": "eee8f9645d03834c",
        "name": "Write_cmd_ctrl",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "x": 4060,
        "y": 320,
        "wires": [
            [
                "53da4e9fe68678d9"
            ]
        ]
    },
    {
        "id": "93c4c7a9c9c1d467",
        "type": "OPCUA-IIoT-Inject",
        "z": "b4ac2e01b5986285",
        "injectType": "write",
        "payload": "SetPointInChaud",
        "payloadType": "flow",
        "topic": "",
        "repeat": "1.001",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "Inject cmd aerotherme",
        "addressSpaceItems": [
            {
                "name": "SetPointInChaud",
                "nodeId": "ns=2;i=27",
                "datatypeName": "Float"
            }
        ],
        "x": 3770,
        "y": 320,
        "wires": [
            [
                "9e416d5219914c27"
            ]
        ]
    },
    {
        "id": "d2448502495726a0",
        "type": "change",
        "z": "b4ac2e01b5986285",
        "name": "Store Input Data",
        "rules": [
            {
                "t": "set",
                "p": "SetPointInChaud",
                "pt": "flow",
                "to": "payload.set_point_aerotherme",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3240,
        "y": 320,
        "wires": [
            [
                "5bd223cdcb5c93b8"
            ]
        ]
    },
    {
        "id": "0083e4610b48dcd0",
        "type": "change",
        "z": "b4ac2e01b5986285",
        "name": "initialize variable",
        "rules": [
            {
                "t": "set",
                "p": "SetPointInChaud",
                "pt": "flow",
                "to": "0.0",
                "tot": "num",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2560,
        "y": 320,
        "wires": [
            [
                "2d664f2d28698e4f"
            ]
        ]
    },
    {
        "id": "1a4b6f0aabc9ce9f",
        "type": "function",
        "z": "b4ac2e01b5986285",
        "name": "Value",
        "func": "var op = msg.payload.Value;\n\nmsg.payload = op; \n\nreturn msg;",
        "outputs": 1,
        "timeout": "0",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 240,
        "wires": [
            [
                "f63a6f98bffe92b6"
            ]
        ]
    },
    {
        "id": "f63a6f98bffe92b6",
        "type": "range",
        "z": "b4ac2e01b5986285",
        "minin": "0",
        "maxin": "100",
        "minout": "0",
        "maxout": "10",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "mapping PID entry values ",
        "x": 890,
        "y": 240,
        "wires": [
            [
                "8e162e5ae2fd2d98",
                "0961103bc02f651e"
            ]
        ]
    },
    {
        "id": "97feed95cd322280",
        "type": "debug",
        "z": "b4ac2e01b5986285",
        "name": "debug_output_PID",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 140,
        "wires": []
    },
    {
        "id": "6adb305c737ca1ac",
        "type": "ui-notification",
        "z": "b4ac2e01b5986285",
        "ui": "2eba3989bac8e2c1",
        "position": "top right",
        "colorDefault": false,
        "color": "#ea5353",
        "displayTime": "3",
        "showCountdown": true,
        "outputs": 1,
        "allowDismiss": true,
        "dismissText": "Close",
        "allowConfirm": false,
        "confirmText": "Confirm",
        "raw": false,
        "className": "",
        "name": "Command out of bounds",
        "x": 3490,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "affc91e93bac00f2",
        "type": "change",
        "z": "b4ac2e01b5986285",
        "name": "danger_msg",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "Danger !",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "CANNOT SEND THIS INPUT VALUE",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3230,
        "y": 440,
        "wires": [
            [
                "6adb305c737ca1ac"
            ]
        ]
    },
    {
        "id": "53da4e9fe68678d9",
        "type": "switch",
        "z": "b4ac2e01b5986285",
        "name": "show msg ?",
        "property": "show_msg",
        "propertyType": "flow",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 4270,
        "y": 320,
        "wires": [
            [
                "f071993300845c12"
            ],
            []
        ]
    },
    {
        "id": "98a4882db08ebed0",
        "type": "change",
        "z": "b4ac2e01b5986285",
        "name": "Initialize Predicate",
        "rules": [
            {
                "t": "set",
                "p": "show_msg",
                "pt": "flow",
                "to": "false",
                "tot": "bool",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2570,
        "y": 260,
        "wires": [
            [
                "7beee9a001ac94d4"
            ]
        ]
    },
    {
        "id": "7beee9a001ac94d4",
        "type": "change",
        "z": "b4ac2e01b5986285",
        "name": "Store Local Predicate",
        "rules": [
            {
                "t": "set",
                "p": "show_msg",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2840,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "5bd223cdcb5c93b8",
        "type": "change",
        "z": "b4ac2e01b5986285",
        "name": "assign Predicate",
        "rules": [
            {
                "t": "set",
                "p": "show_msg",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3450,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "8b860dc9a9999e76",
        "type": "comment",
        "z": "b4ac2e01b5986285",
        "name": "[part 2] Commande de controle pour le chaud setpoint ",
        "info": "",
        "x": 3840,
        "y": 260,
        "wires": []
    },
    {
        "id": "a6b26e00cb4407a3",
        "type": "change",
        "z": "b4ac2e01b5986285",
        "name": "Predicate Default Value",
        "rules": [
            {
                "t": "set",
                "p": "show_msg",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 4890,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "61430a5ead5c105b",
        "type": "inject",
        "z": "b4ac2e01b5986285",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 70,
        "y": 220,
        "wires": [
            [
                "f9abcbd4017ee100"
            ]
        ]
    },
    {
        "id": "f9abcbd4017ee100",
        "type": "change",
        "z": "b4ac2e01b5986285",
        "name": "add_topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "auto",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 220,
        "wires": [
            [
                "86f736e109c86702"
            ]
        ]
    },
    {
        "id": "6475ef2a7df951a7",
        "type": "link in",
        "z": "b4ac2e01b5986285",
        "name": "link in 3",
        "links": [
            "f0e6c1226cde0d16"
        ],
        "x": 75,
        "y": 420,
        "wires": [
            [
                "edc80b88a43ae839"
            ]
        ]
    },
    {
        "id": "61912971de626871",
        "type": "comment",
        "z": "b4ac2e01b5986285",
        "name": "Process_value",
        "info": "",
        "x": 80,
        "y": 380,
        "wires": []
    },
    {
        "id": "86f736e109c86702",
        "type": "easy-pid-controller",
        "z": "b4ac2e01b5986285",
        "name": "AEROTHERME PID",
        "k_p": "1.5",
        "k_i": "0.19",
        "k_d": 0,
        "sensor_type": "0-10V",
        "dt": "60",
        "range_min": 0,
        "range_max": "10",
        "x": 460,
        "y": 240,
        "wires": [
            [
                "1a4b6f0aabc9ce9f"
            ]
        ]
    },
    {
        "id": "e7c26dd00a7e8217",
        "type": "link in",
        "z": "b4ac2e01b5986285",
        "name": "link in 4",
        "links": [
            "1c080549d24b1d58"
        ],
        "x": 75,
        "y": 320,
        "wires": [
            [
                "4f13434bdf2c97fa"
            ]
        ]
    },
    {
        "id": "40542f0f10fe9845",
        "type": "comment",
        "z": "b4ac2e01b5986285",
        "name": "Set_point_value",
        "info": "",
        "x": 80,
        "y": 280,
        "wires": []
    },
    {
        "id": "2e3963f1d3a1fda4",
        "type": "change",
        "z": "b4ac2e01b5986285",
        "name": "add_topic",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "auto",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "4f13434bdf2c97fa",
        "type": "change",
        "z": "b4ac2e01b5986285",
        "name": "add_topic_SV",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "SV",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 320,
        "wires": [
            [
                "86f736e109c86702"
            ]
        ]
    },
    {
        "id": "edc80b88a43ae839",
        "type": "change",
        "z": "b4ac2e01b5986285",
        "name": "add_topic_PV",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "PV",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 200,
        "y": 420,
        "wires": [
            [
                "86f736e109c86702"
            ]
        ]
    },
    {
        "id": "42834433e8cec0a6",
        "type": "comment",
        "z": "b4ac2e01b5986285",
        "name": "Convert percentage in DC Voltage",
        "info": "",
        "x": 900,
        "y": 200,
        "wires": []
    },
    {
        "id": "865f64a00c0a6785",
        "type": "ui-template",
        "z": "b4ac2e01b5986285",
        "g": "b7a0feac79e7f0b6",
        "group": "5464fa120c1ac1bc",
        "page": "",
        "ui": "",
        "name": "Heat Pump Test Bench Synoptic",
        "order": 1,
        "width": 0,
        "height": 0,
        "head": "",
        "format": "<template>\n    <img :src=\"msg.payload\" style=\"width: 80vw; height: 80vh; objectif-fit: cover;\" />\n</template>\n\n<script>\n    export default {\n        data() {\n            return {\n                mounted: false\n            }\n        },\n        mounted() {\n            // Set mounted to true when the component is mounted\n            this.mounted = true\n        }\n    }\n</script>",
        "storeOutMessages": true,
        "passthru": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1990,
        "y": 1220,
        "wires": [
            []
        ]
    },
    {
        "id": "a25d42467177cc20",
        "type": "ui-group",
        "name": "Hot Water Circuit on Heat Pump (HP)",
        "page": "6c2556a7412477cf",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "a0e215310cdd5675",
        "type": "ui-group",
        "name": "Water Transit on Aerotherme",
        "page": "6c2556a7412477cf",
        "width": 6,
        "height": 1,
        "order": 3,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "8ca5738ff35c72b1",
        "type": "ui-group",
        "name": "Heat Exchanger",
        "page": "6c2556a7412477cf",
        "width": 6,
        "height": 1,
        "order": 4,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "ee115ad3bbbb60e4",
        "type": "ui-group",
        "name": "Flowmeter Upstream Water Tank",
        "page": "6c2556a7412477cf",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "7a06389195274203",
        "type": "ui-group",
        "name": "Control Aerotherme",
        "page": "80316a8986ee7cb8",
        "width": 6,
        "height": 1,
        "order": 2,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "2bf1924fdb511b62",
        "type": "ui-group",
        "name": "PID Output",
        "page": "80316a8986ee7cb8",
        "width": 6,
        "height": 1,
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "2eba3989bac8e2c1",
        "type": "ui-base",
        "name": "My Dashboard",
        "path": "/dashboard",
        "appIcon": "",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-notification",
            "ui-control"
        ],
        "showPathInSidebar": false,
        "headerContent": "page",
        "navigationStyle": "default",
        "titleBarStyle": "default",
        "showReconnectNotification": true,
        "notificationDisplayTime": 1,
        "showDisconnectNotification": true
    },
    {
        "id": "eee8f9645d03834c",
        "type": "OPCUA-IIoT-Connector",
        "discoveryUrl": "",
        "endpoint": "opc.tcp://63.125.22.202:4840/",
        "endpointMustExist": false,
        "keepSessionAlive": true,
        "loginEnabled": false,
        "name": "opcua_for_DT",
        "showErrors": true,
        "securityPolicy": "Basic256Sha256",
        "securityMode": "SignAndEncrypt",
        "individualCerts": true,
        "publicCertificateFile": "/home/kambana/certificate/digitaltwincert.der",
        "privateKeyFile": "/home/kambana/certificate/key2.pem",
        "defaultSecureTokenLifetime": "",
        "autoSelectRightEndpoint": false,
        "strategyMaxRetry": "",
        "strategyInitialDelay": "",
        "strategyMaxDelay": "",
        "strategyRandomisationFactor": "",
        "requestedSessionTimeout": "",
        "connectionStartDelay": "",
        "reconnectDelay": "",
        "maxBadSessionRequests": 10
    },
    {
        "id": "5464fa120c1ac1bc",
        "type": "ui-group",
        "name": "Hot Water Circuit",
        "page": "bde1577137aea246",
        "width": "12",
        "height": "3",
        "order": 1,
        "showTitle": true,
        "className": "",
        "visible": "true",
        "disabled": "false",
        "groupType": "default"
    },
    {
        "id": "6c2556a7412477cf",
        "type": "ui-page",
        "name": "Heat Pump Test Bench : Hot Water Circuit",
        "ui": "2eba3989bac8e2c1",
        "path": "/geohp",
        "icon": "home",
        "layout": "grid",
        "theme": "e8cbc83b09e58158",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 2,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "80316a8986ee7cb8",
        "type": "ui-page",
        "name": "Command control for PID on Heat Pump Test Bench : Hot Water Circuit",
        "ui": "2eba3989bac8e2c1",
        "path": "/cmd",
        "icon": "home",
        "layout": "grid",
        "theme": "default",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 3,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "bde1577137aea246",
        "type": "ui-page",
        "name": "Heat Pump Test Bench Synoptic",
        "ui": "2eba3989bac8e2c1",
        "path": "/hot_cycleHP",
        "icon": "home",
        "layout": "grid",
        "theme": "e8cbc83b09e58158",
        "breakpoints": [
            {
                "name": "Default",
                "px": "0",
                "cols": "3"
            },
            {
                "name": "Tablet",
                "px": "576",
                "cols": "6"
            },
            {
                "name": "Small Desktop",
                "px": "768",
                "cols": "9"
            },
            {
                "name": "Desktop",
                "px": "1024",
                "cols": "12"
            }
        ],
        "order": 1,
        "className": "",
        "visible": "true",
        "disabled": "false"
    },
    {
        "id": "e8cbc83b09e58158",
        "type": "ui-theme",
        "name": "Default Theme",
        "colors": {
            "surface": "#ffffff",
            "primary": "#0094CE",
            "bgPage": "#eeeeee",
            "groupBg": "#ffffff",
            "groupOutline": "#cccccc"
        },
        "sizes": {
            "density": "default",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    }
]
